<div class="row board-wrapper">
  <div class="col-sm-12 col-md-6">
    <app-section [heading]="{'title': 'What went well'}"></app-section>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-section [heading]="{'title': 'What can be improved'}"></app-section>
  </div>

  <div class="col-sm-12 col-md-6">
    <app-section [heading]="{'title': 'Start doing'}"></app-section>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-section [heading]="{'title': 'Action Items'}"></app-section>
  </div>
</div>
